## Aprendedo Data Science Python

Let's have fun!!

In [1]:
print("Opa Mundão!!")

Opa Mundão!!

In [4]:
L = [1,3,4.9,"DINHEIRO",3]
T = (1,3,4.9,"name",3)
S = {1,3,4,9,"name",3}
D = {23:"twothree",'B':43,'C':'ccd'}

Numpy

In [5]:
import numpy as np

In [2]:
a = np.array([1,2,3,5,7])

In [4]:
b = np.array((2,3,4))

In [5]:
print(a)

[1 2 3]

In [8]:
print(a.ndim)

1

In [10]:
a = np.array([[1,2,3],[4,5,6]])

In [12]:
print(a[1,1])

5

In [13]:
a.ndim

2

In [14]:
b = np.array([[1,2,4,6],[1,9,2,5]])

In [15]:
b.ndim

2

In [16]:
b[0,3]

6

In [20]:
c = np.array([[[1,2,3],[4,5,6],[7,8,9]],[[-1,-2,-3],[-4,-5,-6],[-7,-8,-9]]])

In [21]:
c.ndim

3

In [23]:
c[1,1,2]

-6

In [25]:
A = np.arange(20,100,3)

In [26]:
print(A)

[20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89
 92 95 98]

In [32]:
A = np.random.permutation(np.arange(10))

In [33]:
A

array([1, 0, 9, 2, 4, 3, 8, 7, 5, 6])

In [42]:
np.random.randint(20,30)

22

In [44]:
A = np.random.rand(1000)

In [3]:
import matplotlib.pyplot as plt

In [4]:
plt.hist(A,bins=500)

NameError: name 'A' is not defined

In [49]:
E = np.random.rand(2,3)

In [50]:
E

array([[0.72413561, 0.04053956, 0.91639616],
       [0.59513609, 0.19610047, 0.62083008]])

In [51]:
E = np.random.rand(2,3,5,9)

In [52]:
E

array([[[[2.90637507e-01, 5.32884812e-01, 8.01536776e-01,
          1.65603419e-01, 9.40589967e-02, 5.15604432e-01,
          9.70656121e-01, 8.05503510e-01, 9.25779631e-01],
         [1.28112844e-01, 4.28757914e-01, 4.86640526e-01,
          4.71856780e-01, 5.88119065e-01, 5.96467075e-02,
          3.87550196e-01, 9.56776582e-01, 2.47012016e-01],
         [6.21225452e-01, 7.54805617e-01, 5.76265506e-01,
          8.29923729e-01, 7.36193415e-01, 5.93493725e-01,
          7.55344657e-01, 7.74680284e-01, 3.52901181e-01],
         [3.13407434e-01, 4.87221762e-01, 2.54423977e-02,
          7.03989176e-01, 5.32656812e-01, 4.64751939e-01,
          1.91407336e-01, 4.00121281e-01, 4.08167749e-01],
         [3.23022176e-01, 4.06742856e-01, 9.91217633e-01,
          8.28166125e-02, 9.39579516e-04, 8.60611102e-02,
          9.90583213e-01, 1.33316860e-01, 8.80755237e-01]],

        [[6.36631558e-01, 7.19780598e-01, 5.61072504e-01,
          4.48170648e-01, 6.61822543e-01, 8.06461271e-01,
          2.11293084e-01, 3.92273721e-01, 8.68854593e-01],
         [8.15125489e-01, 2.31565598e-01, 9.22961844e-01,
          7.41517330e-01, 7.55261419e-01, 4.45869293e-01,
          1.78556938e-01, 9.23869618e-01, 8.32931017e-01],
         [5.62948545e-02, 9.39470257e-01, 9.33172503e-01,
          8.89836306e-01, 1.93480241e-01, 5.13892245e-01,
          4.78463952e-01, 9.92043899e-01, 1.52163122e-01],
         [3.19439393e-01, 5.29791361e-02, 4.45126016e-03,
          2.37318144e-01, 2.63773854e-01, 6.95608193e-01,
          8.71005396e-01, 4.65437208e-01, 8.10067660e-01],
         [7.43952511e-01, 9.64686179e-01, 3.82542051e-01,
          6.38970589e-01, 2.46098264e-01, 9.66354628e-01,
          4.52417555e-01, 6.01522173e-01, 2.32079181e-01]],

        [[4.21869329e-01, 1.78304009e-02, 5.51809906e-01,
          6.68628872e-01, 6.41964899e-01, 2.98743255e-01,
          4.16097207e-01, 8.60151428e-01, 9.87692983e-01],
         [3.98452497e-01, 5.48376750e-01, 4.20827117e-01,
          1.82488932e-01, 3.84378841e-01, 3.82928841e-01,
          8.17245891e-01, 2.30793582e-01, 5.18667812e-01],
         [6.36481757e-02, 8.09702761e-01, 8.09602843e-01,
          5.62891644e-01, 9.16385982e-01, 1.72547784e-01,
          9.92925042e-01, 8.13740120e-01, 8.99541096e-02],
         [5.38510556e-01, 8.50518745e-01, 1.41873886e-01,
          4.10702957e-01, 2.07330213e-01, 9.73501813e-01,
          8.20787645e-01, 7.05567510e-01, 8.44750241e-01],
         [3.70702640e-01, 8.16460671e-01, 1.07222623e-01,
          4.53662977e-01, 7.70448412e-01, 4.64345005e-01,
          6.71634110e-01, 1.55668245e-02, 6.53999976e-01]]],


       [[[8.05683973e-01, 1.54607552e-02, 8.63269427e-01,
          5.25764047e-02, 6.50364625e-01, 4.08468104e-01,
          9.57357619e-02, 5.27787467e-01, 2.82187771e-02],
         [6.56877986e-01, 6.62364343e-01, 6.22663267e-01,
          9.90751640e-01, 5.06723057e-01, 5.39792297e-01,
          6.33168244e-01, 6.18585397e-01, 6.76038935e-01],
         [9.98309251e-01, 6.39482590e-02, 4.03001825e-01,
          1.13791617e-01, 7.21719045e-02, 8.36170179e-01,
          7.21054281e-02, 5.09100567e-01, 6.62427892e-01],
         [2.86143663e-01, 7.74981214e-01, 8.05731540e-01,
          3.88433949e-01, 8.77663390e-02, 9.41456305e-01,
          7.27275685e-01, 1.11224282e-01, 6.03964044e-01],
         [7.11213351e-01, 2.32900819e-01, 9.73005197e-01,
          1.43849078e-01, 7.31259706e-01, 7.53241024e-01,
          3.75982501e-01, 3.51180593e-02, 2.24116515e-01]],

        [[4.90839651e-01, 1.95696430e-01, 9.76026347e-01,
          3.44236843e-01, 3.81850877e-01, 9.33588325e-01,
          9.94259453e-01, 1.88289241e-01, 5.35131826e-01],
         [8.44207099e-01, 8.31027145e-01, 7.50102942e-01,
          4.37493759e-01, 6.10834740e-01, 3.92729565e-01,
          9.43587573e-01, 2.91891394e-01, 2.76191650e-01],
         [6.86078599e-02, 2.49129928e-01, 2.52928575e-01,
          6.29569109e-01, 5.04954927e-01, 9.62825148e-01,
          8.49631298e-01, 4.80234968e-01, 8.35819720e-01],
         [2.39348714e-02, 4.54566288e-02, 2.23653164e-01,
          5.71168046e-01, 2.94425585e-01, 9.21905368e-01,
          3.55276351e-02, 9.40257708e-01, 4.94285045e-01],
         [8.24354693e-01, 4.71701299e-01, 2.28775559e-01,
          3.29360603e-02, 7.00522080e-01, 8.79537895e-01,
          5.32883126e-01, 4.29362746e-01, 1.99148828e-01]],

        [[3.03454651e-02, 8.75313789e-01, 2.34897389e-01,
          5.69924592e-01, 3.53816541e-01, 1.85598161e-01,
          9.77399084e-01, 5.56007821e-01, 7.89543668e-01],
         [6.64074735e-01, 4.09927622e-01, 4.30323718e-01,
          3.42818476e-01, 5.84383355e-01, 8.20098519e-01,
          5.97805238e-01, 1.96488579e-01, 3.49766120e-01],
         [7.18884020e-01, 6.47712721e-01, 6.98103594e-01,
          4.28830300e-01, 5.49960301e-01, 8.50186054e-01,
          8.81291883e-01, 2.97901840e-01, 1.50250953e-01],
         [4.20810118e-01, 5.56493840e-01, 1.66544991e-01,
          6.47476475e-01, 1.18798279e-01, 7.76564773e-01,
          7.75238126e-01, 8.87304574e-01, 9.62032088e-01],
         [8.36500231e-01, 5.74393372e-01, 4.82717975e-01,
          4.81454510e-01, 3.39457770e-01, 5.61325438e-01,
          1.33675947e-01, 3.00135817e-01, 6.19964450e-01]]]])

In [6]:
A = np.arange(100)
print(A)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [58]:
b = A[3:10]
b

array([3, 4, 5, 6, 7, 8, 9])

In [61]:
b[2]= '222'

In [62]:
A

array([  0,   1,   2,   3,   4, 222,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99])

In [65]:
A[::-1]

array([ 99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,  87,
        86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,  74,
        73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,  61,
        60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,  48,
        47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,  35,
        34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,  22,
        21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,   9,
         8,   7,   6, 222,   4,   3,   2,   1,   0])

In [66]:
B = A==222*np.aran

array([False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

Estudar mais métodos de slicing

In [10]:
A = A -10

In [11]:
A

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11,
       12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
       46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
       63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
       80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94])

In [15]:
D = np.random.rand(1000000)
%timeit sum(D)
%timeit np.sum(D)
def mysum(D):
    s=0 
    for x in D:
        s+=x
%timeit mysum(D)

243 ms ± 27.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
2.96 ms ± 134 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
227 ms ± 2.99 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Pandas

Introdução a Pandas

In [16]:
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])

In [18]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [19]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [33]:
grades_dict = {'A':4,'A-':3.5,'B':3,'B-':2.5,'C':2}
grades = pd.Series(grades_dict)

In [34]:
grades.index

Index(['A', 'A-', 'B', 'B-', 'C'], dtype='object')

In [35]:
grades['A':'C']

A     4.0
A-    3.5
B     3.0
B-    2.5
C     2.0
dtype: float64

In [38]:
marks_dict = {'A':85,'A-':80,'B':75,'B-':70,'C':65}
marks = pd.Series(marks_dict)

In [39]:
D = pd.DataFrame({'Marks':marks, 'Grades': grades})

In [40]:
D

    Marks  Grades
A      85     4.0
A-     80     3.5
B      75     3.0
B-     70     2.5
C      65     2.0

In [41]:
D.values[2,0]

75.0

In [43]:
D.columns

Index(['Marks', 'Grades'], dtype='object')

In [44]:
D['ScaledMarks'] = D['Marks']*0.9

In [45]:
D

    Marks  Grades  ScaledMarks
A      85     4.0         76.5
A-     80     3.5         72.0
B      75     3.0         67.5
B-     70     2.5         63.0
C      65     2.0         58.5

In [46]:
del D['ScaledMarks']

In [47]:
D

    Marks  Grades
A      85     4.0
A-     80     3.5
B      75     3.0
B-     70     2.5
C      65     2.0

In [48]:
G = D[D['Marks']>70]

In [49]:
G

    Marks  Grades
A      85     4.0
A-     80     3.5
B      75     3.0

In [51]:
A = pd.DataFrame([{'a':1,'b':4},{'b':3,'c':9}])

In [52]:
A

     a  b    c
0  1.0  4  NaN
1  NaN  3  9.0

In [53]:
A.fillna(10000)

         a  b        c
0      1.0  4  10000.0
1  10000.0  3      9.0

In [54]:
A.dropna

<bound method DataFrame.dropna of      a  b    c
0  1.0  4  NaN
1  NaN  3  9.0>

In [55]:
A

     a  b    c
0  1.0  4  NaN
1  NaN  3  9.0

In [56]:
A.loc[1]

a    NaN
b    3.0
c    9.0
Name: 1, dtype: float64

In [61]:
A.iloc[0:1]

     a  b   c
0  1.0  4 NaN

## Indo para o Mundo Real

Analisando dados da covid via Pandas

In [66]:
import pandas as pd
import numpy as np 
from sklearn.impute import SimpleImputer
df = pd.read_csv('caso_full.csv')

In [68]:
df.head(50)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0
5,NaN,12.0,2020-03-19,202012,894470.0,881935.0,False,False,4,0.44719,2020-03-19,0.0,0,3,state,AC,1,0
6,Rio Branco,1200401.0,2020-03-20,202012,413418.0,407319.0,False,False,7,1.69320,2020-03-20,0.0,0,4,city,AC,3,0
7,NaN,12.0,2020-03-20,202012,894470.0,881935.0,False,False,7,0.78259,2020-03-20,0.0,0,4,state,AC,3,0
8,Rio Branco,1200401.0,2020-03-21,202012,413418.0,407319.0,False,False,11,2.66075,2020-03-21,0.0,0,5,city,AC,4,0
9,NaN,12.0,2020-03-21,202012,894470.0,881935.0,False,False,11,1.22978,2020-03-21,0.0,0,5,state,AC,4,0
10,Rio Branco,1200401.0,2020-03-22,202013,413418.0,407319.0,False,False,11,2.66075,2020-03-22,0.0,0,6,city,AC,0,0
11,NaN,12.0,2020-03-22,202013,894470.0,881935.0,False,False,11,1.22978,2020-03-22,0.0,0,6,state,AC,0,0
12,Rio Branco,1200401.0,2020-03-23,202013,413418.0,407319.0,False,False,17,4.11206,2020-03-23,0.0,0,7,city,AC,6,0
13,NaN,12.0,2020-03-23,202013,894470.0,881935.0,False,False,17,1.90057,2020-03-23,0.0,0,7,state,AC,6,0
14,Rio Branco,1200401.0,2020-03-24,202013,413418.0,407319.0,False,False,21,5.07960,2020-03-24,0.0,0,8,city,AC,4,0
15,NaN,12.0,2020-03-24,202013,894470.0,881935.0,False,False,21,2.34776,2020-03-24,0.0,0,8,state,AC,4,0
16,Rio Branco,1200401.0,2020-03-25,202013,413418.0,407319.0,False,False,23,5.56338,2020-03-25,0.0,0,9,city,AC,2,0
17,NaN,12.0,2020-03-25,202013,894470.0,881935.0,False,False,23,2.57136,2020-03-25,0.0,0,9,state,AC,2,0
18,Rio Branco,1200401.0,2020-03-26,202013,413418.0,407319.0,False,False,23,5.56338,2020-03-26,0.0,0,10,city,AC,0,0
19,NaN,12.0,2020-03-26,202013,894470.0,881935.0,False,False,23,2.57136,2020-03-26,0.0,0,10,state,AC,0,0
20,Rio Branco,1200401.0,2020-03-27,202013,413418.0,407319.0,False,False,25,6.04715,2020-03-27,0.0,0,11,city,AC,2,0
21,NaN,12.0,2020-03-27,202013,894470.0,881935.0,False,False,25,2.79495,2020-03-27,0.0,0,11,state,AC,2,0
22,Rio Branco,1200401.0,2020-03-28,202013,413418.0,407319.0,False,False,25,6.04715,2020-03-28,0.0,0,12,city,AC,0,0
23,NaN,12.0,2020-03-28,202013,894470.0,881935.0,False,False,25,2.79495,2020-03-28,0.0,0,12,state,AC,0,0
24,Acrelândia,1200013.0,2020-03-29,202014,15490.0,15256.0,False,False,2,12.91156,2020-03-29,0.0,0,1,city,AC,2,0
25,Porto Acre,1200807.0,2020-03-29,202014,18824.0,18504.0,False,False,1,5.31237,2020-03-29,0.0,0,1,city,AC,1,0
26,Rio Branco,1200401.0,2020-03-29,202014,413418.0,407319.0,False,False,31,7.49846,2020-03-29,0.0,0,13,city,AC,6,0
27,NaN,12.0,2020-03-29,202014,894470.0,881935.0,False,False,34,3.80113,2020-03-29,0.0,0,13,state,AC,9,0
28,Acrelândia,1200013.0,2020-03-30,202014,15490.0,15256.0,False,False,6,38.73467,2020-03-30,0.0,0,2,city,AC,4,0
29,Porto Acre,1200807.0,2020-03-30,202014,18824.0,18504.0,False,False,1,5.31237,2020-03-30,0.0,0,2,city,AC,0,0
30,Rio Branco,1200401.0,2020-03-30,202014,413418.0,407319.0,False,False,34,8.22412,2020-03-30,0.0,0,14,city,AC,3,0
31,NaN,12.0,2020-03-30,202014,894470.0,881935.0,False,False,41,4.58372,2020-03-30,0.0,0,14,state,AC,7,0
32,Acrelândia,1200013.0,2020-03-31,202014,15490.0,15256.0,False,False,7,45.19045,2020-03-31,0.0,0,3,city,AC,1,0
33,Porto Acre,1200807.0,2020-03-31,202014,18824.0,18504.0,False,False,1,5.31237,2020-03-31,0.0,0,3,city,AC,0,0
34,Rio Branco,1200401.0,2020-03-31,202014,413418.0,407319.0,False,False,34,8.22412,2020-03-31,0.0,0,15,city,AC,0,0
35,NaN,12.0,2020-03-31,202014,894470.0,881935.0,False,False,42,4.69552,2020-03-31,0.0,0,15,state,AC,1,0
36,Acrelândia,1200013.0,2020-04-01,202014,15490.0,15256.0,False,False,8,51.64622,2020-04-01,0.0,0,4,city,AC,1,0
37,Porto Acre,1200807.0,2020-04-01,202014,18824.0,18504.0,False,False,1,5.31237,2020-04-01,0.0,0,4,city,AC,0,0
38,Rio Branco,1200401.0,2020-04-01,202014,413418.0,407319.0,False,False,34,8.22412,2020-04-01,0.0,0,16,city,AC,0,0
39,NaN,12.0,2020-04-01,202014,894470.0,881935.0,False,False,43,4.80732,2020-04-01,0.0,0,16,state,AC,1,0
40,Acrelândia,1200013.0,2020-04-02,202014,15490.0,15256.0,False,False,8,51.64622,2020-04-02,0.0,0,5,city,AC,0,0
41,Porto Acre,1200807.0,2020-04-02,202014,18824.0,18504.0,False,False,1,5.31237,2020-04-02,0.0,0,5,city,AC,0,0
42,Rio Branco,1200401.0,2020-04-02,202014,413418.0,407319.0,False,False,36,8.70789,2020-04-02,0.0,0,17,city,AC,2,0
43,NaN,12.0,2020-04-02,202014,894470.0,881935.0,False,False,45,5.03091,2020-04-02,0.0,0,17,state,AC,2,0
44,Acrelândia,1200013.0,2020-04-03,202014,15490.0,15256.0,False,False,9,58.10200,2020-04-03,0.0,0,6,city,AC,1,0
45,Porto Acre,1200807.0,2020-04-03,202014,18824.0,18504.0,False,False,1,5.31237,2020-04-03,0.0,0,6,city,AC,0,0
46,Rio Branco,1200401.0,2020-04-03,202014,413418.0,407319.0,False,False,36,8.70789,2020-04-03,0.0,0,18,city,AC,0,0
47,NaN,12.0,2020-04-03,202014,894470.0,881935.0,False,False,46,5.14271,2020-04-03,0.0,0,18,state,AC,1,0
48,Acrelândia,1200013.0,2020-04-04,202014,15490.0,15256.0,False,False,9,58.10200,2020-04-04,0.0,0,7,city,AC,0,0
49,Porto Acre,1200807.0,2020-04-04,202014,18824.0,18504.0,False,False,1,5.31237,2020-04-04,0.0,0,7,city,AC,0,0